In [18]:
import numpy as np
import pandas as pd

In [19]:
data_train = pd.read_csv('weibo_train_data(new)\weibo_train_data.txt', delimiter = "\t", header=None, names=["uid", "mid", "time", "forward_count", "comment_count", "like_count", "content"])
data_predict = pd.read_csv('weibo_predict_data(new)\weibo_predict_data.txt', delimiter = "\t", header=None, names=["uid", "mid", "time", "content"])

In [20]:
data_train.tail(10)

,uid,mid,time,forward_count,comment_count,like_count,content
1225078,8ea66b5ac5845811f96f3777b1da0815,d481eeeed598980223fbefefb636e5dc,2015-04-26 10:40:07,0,0,0,这么累，说白了也是自找的，也需要自己来逐步化解。
1225079,34aecfff0b411aebf22f5348631af089,897186111f41742df6dc1d472f224322,2015-07-31 08:58:40,2,1,0,#CSDN下载频道分享# #0分干货来了# Android 多线程下载仿下载助手AS - 简...
1225080,d0cf9d27cfee159a757eb5f20aff3de5,371faecd6c3279e034bf76ffdf221c2a,2015-03-24 17:01:59,0,0,0,今天我在#百词斩# 背了100个单词。
1225081,acc70af1567ad07cbd6b5a39b6215aa1,b132e7562caabd7f710ae2199143605e,2015-03-13 12:36:08,0,0,0,终于熬过了冬季。
1225082,70a52330e32b4c990b65d56490a5fa89,24418e8a9e63aba685b09fcb0dadc210,2015-06-16 20:30:14,0,0,2,看过《硅谷 第二季》 我的评分：★★★★ 没第一季燃… http://t.cn/Rvf0Ue...
1225083,aec54746b7069c901464ec118697cc0c,1e8165f252124ea1c11124e13c2b1001,2015-06-07 21:04:28,0,0,0,PHP设计模式：命令Command模式 -- 简明现代魔法 （分享自 @简明现代魔法） ht...
1225084,b98ca546114e9e6185c1b963b53f1ed4,99d60668e884f379184870888989d0eb,2015-07-09 17:22:50,0,2,0,金鱼的记忆只有七秒，股民也是.....
1225085,56e9116f64df76bc68b3b343b91e8d21,1742acd51ff3afa73ed1463d6f8108ca,2015-06-02 11:00:02,0,0,0,exploration & exploitation
1225086,2f1098ddf2ee3f50f6c70f43136321dc,cbf06ed44ff14df606c4492379ccba33,2015-02-11 09:22:12,0,0,0,#五岳散人的红包#小年抢个好彩头！我在五岳散人 的红包中抽到了@快的打车 提供的“快的打车6...
1225087,b4e9bc724cbc5a18577227eaec6534c2,e0d18d9f472b93d9d85d70e562b110a6,2015-04-10 18:21:59,0,0,1,电子土拨鼠 | 当虚拟撞上现实，技术宅逆袭浪漫求婚http://t.cn/RAXGWen今年...

In [21]:
data_predict.tail(10)

,uid,mid,time,content
177913,5de2df6cd2dd03268c733e585fc5dfb1,1fda0e581f959fb76ec903d306ff823d,2015-08-18 22:17:43,@我的印象笔记
177914,0faddeeabf8b2cfd75afc6ad9c1ba2da,c07f6e80f2cdbbee36f558a99dfe3310,2015-08-18 11:54:09,"全民关注饮用水安全,饮水习惯,决定着10年后的健康状况 http://t.cn/RL3HhMv"
177915,a7129a594a812160e5a296f063c7e2f3,2ff7dce25b1044b3f41eaf9108925f6f,2015-08-07 20:21:19,最值得关注的20家英国顶级数字医疗创业公司_医疗健康_业界动态_医谷 http://t.cn...
177916,bddfc8d56962952a221ae5aebf0cac81,fb0dd10ffd2ee0811876849551848a6e,2015-08-01 13:11:59,我爱踢球-我在@Feel 成功坚持「每天来说一句我爱踢足球」1天，加油~~ http://t...
177917,e4246c399859890202579cf159874544,7fed6489050651837de9bee9afd3a9a3,2015-08-21 13:20:04,#UI中国·优秀会员作品推荐# 《微博 for Android L 之“动起来”》[拍手] ...
177918,dc0017eb990243ca9a706416487c80b4,3948b1f06d510e46e57f4082c584d21e,2015-08-21 09:03:56,8月18日全球域名商（国际域名）解析新增量TOP25：共6家中国域名商上榜 http://t...
177919,7a0f44f56e8b1adf322fba123d73fd85,4235384d34bffdcc193f3792a6e8d26d,2015-08-17 18:32:01,#创意绘画# 精选30幅扁平化色系的图谱给大家参考一下。顺便继续推荐之前分享过的ColorH...
177920,0220afe08e008b01ad36cc916df43ace,d7b700bda22b352a30267677b2f610b4,2015-08-01 21:01:33,#科技# 陈昊芝回应A股上市：公司需要利润 http://t.cn/RLO78iS
177921,5ebfb48089167dfdec4ecc80a55beaa0,b1138d28601ff798db9d88284f58e043,2015-08-03 09:49:40,Rain来了，中国观众依旧为他买单(组图)_网易新闻 http://t.cn/RLWWh23
177922,3f6d91acb1f1baaef19873ee2eeab95d,e5a8fbf8adaad66b80e943cec7214cd6,2015-08-15 11:04:23,[幸运之星] -恭喜！您的新浪微博账号已被系统确认为“新浪五周年”活动二等奖幸运用户。请登陆...

In [22]:
data_train[['forward_count']].describe()

       forward_count
count   1.225088e+06
mean    3.540621e+00
std     8.528489e+01
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     4.185000e+04

In [23]:
data_train[['comment_count']].describe()

       comment_count
count   1.225088e+06
mean    1.257382e+00
std     1.933314e+01
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     7.467000e+03

In [24]:
data_train[['like_count']].describe()

         like_count
count  1.225088e+06
mean   2.217098e+00
std    4.126350e+01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.000000e+00
max    1.187100e+04

In [25]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225088 entries, 0 to 1225087
Data columns (total 7 columns):
uid              1225088 non-null object
mid              1225088 non-null object
time             1225088 non-null object
forward_count    1225088 non-null int64
comment_count    1225088 non-null int64
like_count       1225088 non-null int64
content          1225085 non-null object
dtypes: int64(3), object(4)
memory usage: 65.4+ MB

In [26]:
data_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177923 entries, 0 to 177922
Data columns (total 4 columns):
uid        177923 non-null object
mid        177923 non-null object
time       177923 non-null object
content    177922 non-null object
dtypes: object(4)
memory usage: 5.4+ MB

In [27]:
data_train[data_train.isnull().values==True]

,uid,mid,time,forward_count,comment_count,like_count,content
802181,12f23f78b9ec67d2b277cd3e6fd14abe,aa8ffbf6227403ee39a2b4050a6265b7,2015-02-15 09:08:32,0,0,1,NaN
902446,bf8a1b2dfafd9e89f12f311694686ded,d0b9db40ed3a2abf63ffd66c64966519,2015-04-03 14:03:25,0,0,0,NaN
1159844,df9c739b546df132bb5056a6aea185dd,95f3460517d23f3923a491640d6eb686,2015-06-29 00:28:36,0,0,0,NaN

In [28]:
# data_train.dropna(inplace = True)

In [29]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225088 entries, 0 to 1225087
Data columns (total 7 columns):
uid              1225088 non-null object
mid              1225088 non-null object
time             1225088 non-null object
forward_count    1225088 non-null int64
comment_count    1225088 non-null int64
like_count       1225088 non-null int64
content          1225085 non-null object
dtypes: int64(3), object(4)
memory usage: 65.4+ MB

In [30]:
da1 = data_train['uid'].value_counts().reset_index()
da1.columns = ['uid','uid_count_tra']
da1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37251 entries, 0 to 37250
Data columns (total 2 columns):
uid              37251 non-null object
uid_count_tra    37251 non-null int64
dtypes: int64(1), object(1)
memory usage: 582.1+ KB

In [31]:
da2 = data_predict['uid'].value_counts().reset_index()
da2.columns = ['uid','uid_count_pre']
da2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17536 entries, 0 to 17535
Data columns (total 2 columns):
uid              17536 non-null object
uid_count_pre    17536 non-null int64
dtypes: int64(1), object(1)
memory usage: 274.1+ KB

In [32]:
da3 = pd.merge(da1, da2, on = 'uid', how = 'inner')
da3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16837 entries, 0 to 16836
Data columns (total 3 columns):
uid              16837 non-null object
uid_count_tra    16837 non-null int64
uid_count_pre    16837 non-null int64
dtypes: int64(2), object(1)
memory usage: 526.2+ KB

In [34]:
data_train.to_csv('data_train.csv',index = None)
data_predict.to_csv('data_pre.csv',index = None)